<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958707106290-j3eglmtt8pb8s72vuc7kn66amfhp5jnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958707106290-j3eglmtt8pb8s72vuc7kn66amfhp5jnk</string>
	<key>API_KEY</key>
	<string>AIzaSyA6qMvOO0nseOm_IfhwTZnBucdLlCiUv2I</string>
	<key>GCM_SENDER_ID</key>
	<string>958707106290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codility.success-stations</string>
	<key>PROJECT_ID</key>
	<string>success-station</string>
	<key>STORAGE_BUCKET</key>
	<string>success-station.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958707106290:ios:7911d0c0150d0fe714eb6b</string>
</dict>
</plist>